In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [2]:
# Setting up the Chrome WebDriver
options = webdriver.ChromeOptions()
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
options.add_argument("user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36")
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)

# URL to scrape
url = 'https://www.ratemyprofessors.com/search/professors/675?q=*'

# Open the URL
driver.get(url)

# Handling the cookie banner
try:
    WebDriverWait(driver, 10).until(
        EC.element_to_be_clickable((By.CSS_SELECTOR, "button[class*='Buttons__Button'][class*='CCPAModal__StyledCloseButton']"))
    ).click()
except Exception as e:
    print("Failed to close cookie banner:", str(e))

# Scrape the data
data = []

while True:
    # Wait for data to load
    WebDriverWait(driver, 5).until(
        EC.presence_of_all_elements_located((By.CSS_SELECTOR, "a[class*='TeacherCard__StyledTeacherCard']"))
    )

    # Extract data
    professor_cards = driver.find_elements(By.CSS_SELECTOR, "a[class*='TeacherCard__StyledTeacherCard']")
    for card in professor_cards:
        name = card.find_elements(By.CSS_SELECTOR, "div[class*='CardName__StyledCardName']")[0].text.strip()
        rating = card.find_elements(By.CSS_SELECTOR, "div[class*='CardNumRating__CardNumRatingNumber']")[0].text.strip()
        department = card.find_elements(By.CSS_SELECTOR, "div[class*='CardSchool__Department']")[0].text.strip()
        difficulty = card.find_elements(By.CSS_SELECTOR, "div[class*='CardFeedback__CardFeedbackNumber']")[1].text.strip()

        data.append({
            "Professor Name": name,
            "Professor Rating": rating,
            "Professor Department": department,
            "Difficulty": difficulty
        })

    # Try to click the "Show More" button
    try:
        show_more_button = WebDriverWait(driver, 7).until(
            EC.element_to_be_clickable((By.CSS_SELECTOR, "button[class*='Buttons__Button'][class*='PaginationButton__StyledPaginationButton']"))
        )
        show_more_button.click()
    except Exception:
        print("No more 'Show More' button to click or failed to click.")
        break

# Convert data into a DataFrame
df = pd.DataFrame(data)

# Close the browser
# driver.quit()

# Print the DataFrame
df

No more 'Show More' button to click or failed to click.

,Professor Name,Professor Rating,Professor Department,Difficulty
0,Julia Keefer,4.5,Film,2.8
1,Alan Corns,2.8,Economics,4.5
2,Hasia Diner,3.8,Social Science,3.2
3,Steve Hutkins,4.5,Interdisciplinary Studies,2
4,Tyler Volk,3.5,Science,3
...,...,...,...,...
1272,Robert Gurland,4.0,Philosophy,2
1273,Diego Comin,4.9,Economics,2.8
1274,Efe A. Ok,2.6,Economics,4.4
1275,Boyan Jovanovic,3.3,Economics,3.1
1276,Jean-Pierre Benoit,4.5,Economics,3.3

In [8]:
# Give appropriate data types to the columns
df['Professor Rating'] = df['Professor Rating'].astype(float)
df['Difficulty'] = df['Difficulty'].astype(float)
df['Professor Name'] = df['Professor Name'].str.title()
df['Professor Department'] = df['Professor Department'].str.title()

In [9]:
# Get mean rating by department
mean_rating_by_department = df.groupby('Professor Department')['Professor Rating'].mean().reset_index()
mean_rating_by_department = mean_rating_by_department.sort_values(by='Professor Rating', ascending=False)
mean_rating_by_department

         Professor Department  Professor Rating
5                    Classics          4.800000
33              Not Specified          4.700000
8            Cultural Studies          4.700000
9          East Asian Studies          4.700000
3                    Business          4.602941
26                        Law          4.600000
23                    Italian          4.600000
13             Ethnic Studies          4.500000
22  Interdisciplinary Studies          4.500000
18                     Hebrew          4.400000
17                     French          4.300000
29                  Marketing          4.300000
12                    English          4.263158
43                    Theater          4.216000
14                       Film          4.215888
28                 Literature          4.200000
38                 Psychology          4.162791
20                    History          4.128814
34                 Philosophy          4.022222
25                  Languages          3.823810
4                   Chemistry          3.797297
6               Communication          3.755952
27                Linguistics          3.712500
7            Computer Science          3.704167
32                      Music          3.657143
11                  Education          3.651724
15          Film & Television          3.600000
35                Photography          3.600000
39                    Science          3.576923
40             Social Science          3.482090
16                  Fine Arts          3.428571
1               Asian Studies          3.400000
10                  Economics          3.313462
41                Social Work          3.300000
0                  Accounting          3.300000
19           Hispanic Studies          3.200000
44                   Theology          3.160000
45                    Writing          3.075000
2                     Biology          3.015385
31                   Medicine          3.000000
30                Mathematics          2.950000
21                 Humanities          2.675000
42                  Sociology          2.669565
36                    Physics          2.300000
37          Political Science          2.300000
24                 Journalism          1.957576

In [10]:
# Get mean difficulty by department
mean_difficulty_by_department = df.groupby('Professor Department')['Difficulty'].mean().reset_index()
mean_difficulty_by_department = mean_difficulty_by_department.sort_values(by='Difficulty', ascending=False)
mean_difficulty_by_department

         Professor Department  Difficulty
36                    Physics    4.600000
41                Social Work    4.100000
10                  Economics    4.034615
5                    Classics    3.800000
26                        Law    3.600000
0                  Accounting    3.600000
45                    Writing    3.571429
2                     Biology    3.430769
30                Mathematics    3.412500
21                 Humanities    3.367857
32                      Music    3.338095
16                  Fine Arts    3.314286
9          East Asian Studies    3.300000
39                    Science    3.230769
42                  Sociology    3.121739
1               Asian Studies    3.100000
7            Computer Science    3.097917
25                  Languages    2.976190
43                    Theater    2.970000
34                 Philosophy    2.933333
11                  Education    2.827586
12                    English    2.813158
3                    Business    2.702941
13             Ethnic Studies    2.700000
44                   Theology    2.660000
20                    History    2.642373
38                 Psychology    2.641860
40             Social Science    2.638806
27                Linguistics    2.612500
28                 Literature    2.600000
15          Film & Television    2.600000
29                  Marketing    2.600000
4                   Chemistry    2.554054
14                       Film    2.532710
18                     Hebrew    2.500000
23                    Italian    2.500000
19           Hispanic Studies    2.400000
6               Communication    2.311905
35                Photography    2.300000
8            Cultural Studies    2.300000
31                   Medicine    2.100000
37          Political Science    2.000000
22  Interdisciplinary Studies    2.000000
24                 Journalism    1.803030
33              Not Specified    1.500000
17                     French    1.500000

In [12]:
# create matrix of mean rating and difficulty by department
mean_rating_difficulty_by_department = mean_rating_by_department.merge(mean_difficulty_by_department, on='Professor Department')
mean_rating_difficulty_by_department

         Professor Department  Professor Rating  Difficulty
0                    Classics          4.800000    3.800000
1               Not Specified          4.700000    1.500000
2            Cultural Studies          4.700000    2.300000
3          East Asian Studies          4.700000    3.300000
4                    Business          4.602941    2.702941
5                         Law          4.600000    3.600000
6                     Italian          4.600000    2.500000
7              Ethnic Studies          4.500000    2.700000
8   Interdisciplinary Studies          4.500000    2.000000
9                      Hebrew          4.400000    2.500000
10                     French          4.300000    1.500000
11                  Marketing          4.300000    2.600000
12                    English          4.263158    2.813158
13                    Theater          4.216000    2.970000
14                       Film          4.215888    2.532710
15                 Literature          4.200000    2.600000
16                 Psychology          4.162791    2.641860
17                    History          4.128814    2.642373
18                 Philosophy          4.022222    2.933333
19                  Languages          3.823810    2.976190
20                  Chemistry          3.797297    2.554054
21              Communication          3.755952    2.311905
22                Linguistics          3.712500    2.612500
23           Computer Science          3.704167    3.097917
24                      Music          3.657143    3.338095
25                  Education          3.651724    2.827586
26          Film & Television          3.600000    2.600000
27                Photography          3.600000    2.300000
28                    Science          3.576923    3.230769
29             Social Science          3.482090    2.638806
30                  Fine Arts          3.428571    3.314286
31              Asian Studies          3.400000    3.100000
32                  Economics          3.313462    4.034615
33                Social Work          3.300000    4.100000
34                 Accounting          3.300000    3.600000
35           Hispanic Studies          3.200000    2.400000
36                   Theology          3.160000    2.660000
37                    Writing          3.075000    3.571429
38                    Biology          3.015385    3.430769
39                   Medicine          3.000000    2.100000
40                Mathematics          2.950000    3.412500
41                 Humanities          2.675000    3.367857
42                  Sociology          2.669565    3.121739
43                    Physics          2.300000    4.600000
44          Political Science          2.300000    2.000000
45                 Journalism          1.957576    1.803030

In [11]:
# save the data to a CSV file
df.to_csv('1400_professors.csv', index=False)